* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
/**************************************************
* Selettori Tag
**************************************************/
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

main {
  margin-top: 60px;
}

h1 {
  font-size: 77px;
  font-weight: 700;
}

h2 {
  font-size: 40px;
  font-weight: 700;
}

h3 {
  font-size: 25px;
  font-weight: 700;
}

h4, h5 {
  font-size: 16px;
  font-weight: 700;
}

small {
  font-size: 14px;
  font-weight: 600;
}

p {
  font-size: 16px;
  font-weight: 600;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style: none;
}

/**************************************************
* Layout
**************************************************/

/**************** Nav ****************/
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 17px;
  background-color: white;
  z-index: 99;
}

nav div a > img {
  vertical-align: middle;
}

nav ul{
  display: inline-block;
}

nav ul li{
  display: inline-block;
  padding: 15px 0;
  transition: 0.2s;
}

nav ul li a {
  color: black;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 17px;
  vertical-align: middle;
}

nav ul li:hover {
  background-color: rgba(166,145,113,0.12);
}

/**************** Hero ****************/
.hero {
  margin-top: 72px;
  background-color: #B4D0E7;
}

.hero .container-large.row {
  position: relative;
  top: 83px;
}

.hero h1 {
  padding-bottom: 45px;
}

.hero .col_3_9 p:nth-child(1) {
  padding: 0 44px 30px 0;
}

.hero .col_3_9 p:nth-child(3) {
  padding-top: 10px;
  font-size: 14px;
}

.arrow-down {
  padding-top: 35px;
  font-size: 40px;
  color: black;
}

.hero .col_6_9 img {
  background-size: cover;
  width: 100%;
}

.hero .col_3_9 i {
  animation: arrow-down 1.3s ease-in-out infinite;
}
@keyframes arrow-down {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.hero .col_6_9 img:hover {
  animation: hero-img 2.2s ease-in-out;
}
@keyframes hero-img {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}

/**************** 3 Plan Texy ****************/
main .container-small._3_plan.pd-bottom-60 h2 {
  padding-top: 150px;
  padding-bottom: 50px;
}

.container-small form {
  padding-bottom: 50px;
}

/************ Radio ************/
.container-radio {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  padding-right: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
}

.container-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  border: 1px solid #d0d0d3;
  border-radius: 50%;
}

.container-radio:hover input ~ .checkmark {
  background-color: #d0d0d3;
}

.container-radio input:checked ~ .checkmark {
  background-color: #0061FF;
  border: none;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container-radio input:checked ~ .checkmark:after {
  display: block;
}

.container-radio .checkmark:after {
 	top: 5px;
	left: 5px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: white;
}

/**************** 3 Plan Columns ****************/
.container-small.pd-bottom-60 .row .col_3_9 {
  padding: 13px;
}

.product {
  border: 1px solid #d0d0d3;
}

.product-info {
  padding: 20px 25px 100px;
}
.container-small .row .col_3_9 .product{
  min-height: 989px;
}

.container-small .row .col_3_9 .product ul li {
  padding-bottom: 20px;
}

.container-small .row .product-info ul.pd-list > li {
  padding-left: 20px;
  position: relative;
}

.container-small .row .product-info ul.pd-list li > i {
  position: absolute;
  left: 0;
  top: 3px;
}

.row-margin-negative {
  margin-left: -13px;
  margin-right: -13px;
}

/**************** Img + Text ****************/
main .container-small .col_4_9.pd-left-50 > p {
  line-height: 28px;
}

/**************** 6 Block ****************/
.container-small._6_block .row .col_3_9 {
  padding: 13px
}

/**************** Square Container ****************/
.square-container {
  height: calc(30vw);
}

.square-container > div {
  float: left;
}

.square-container-center {
  width: 40%;
  height: 100%;
  overflow: auto;
  background-color: #f5f5f5;
  padding: 60px 60px 0;
}

.square-container-lateral{
  width: 30%;
}

.square {
  width: 50%;
  float: left;
  height: calc(30vw / 2);
  position: relative;
  padding: 14px;
}

.square-container .square-container-center img {
  width: 20%;
  padding-bottom: 40px;
}

.square-container .square-container-center div {
  width: 8%;
  border-bottom: 1px solid #d0d0d3;
}

.square-container .square-container-lateral div img {
  filter: invert(1);
}
.square-container .square-container-lateral .square img {
  max-width: 55%;
  max-height: 55%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.square-container .square-container-lateral:nth-child(1) div:nth-child(1) {
  background-color: #a2d39b;
  border: 13px solid #d0e9cd;
}
.square-container .square-container-lateral:nth-child(1) div:nth-child(2) {
  background-color: #61082b;
}
.square-container .square-container-lateral:nth-child(1) div:nth-child(3) {
  background-color: #0093ce;
}
.square-container .square-container-lateral:nth-child(1) div:nth-child(4) {
  background-color: #ff1c1c;
}

.square-container .square-container-lateral:nth-child(3) div:nth-child(1) {
  background-color: #d5001f;
}
.square-container .square-container-lateral:nth-child(3) div:nth-child(2) {
  background-color: #b4d0e7;
}
.square-container .square-container-lateral:nth-child(3) div:nth-child(3) {
  background-color: #0d2481;
}
.square-container .square-container-lateral:nth-child(3) div:nth-child(4) {
  background-color: #ffd830;
}

/**************** Box Sky ****************/
.bc-sky .container-small {
  padding-top: 140px;
  padding-bottom: 140px;
}

/**************** Accordion ****************/
.accordion-item {
  border-bottom: 1px solid #d0d0d3;
  position: relative;
  padding-right: 60px;
  cursor: pointer;
}

.accordion-container .accordion-item:nth-child(1) {
  border-top: 1px solid #d0d0d3;
}

.accordion-item h4 {
  padding: 35px 0;
}

.accordion-item-icon {
  position: absolute;
  right: 20px;
  transform: rotateZ(0deg);
  transition: transform 0.3s;
}

.accordion-item-content {
  height: 0px;
  overflow: hidden;
  transition: height 0.3s;
}
.accordion-item:focus .accordion-item-content {
  height: 100%;
  overflow: auto;
}

.accordion-item:focus .accordion-item-icon {
  transform: rotateZ(180deg);
}

.accordion-item-content p {
  padding-bottom: 35px;
}

.accordion-item:hover {
  background-color: rgba(166,145,113,0.12);
  padding-left: -15px;
}

.accordion-item:focus {
  background-color: white;
}

/**************** Footer ****************/
footer .row .col_1_5 li, a {
  color: white;
}

footer .row .col_1_5 li a {
  padding-bottom: 13px;
}

footer ul li a:hover{
  text-decoration: underline;
}

/**************************************************
* Utilities
**************************************************/
.inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.underline {
  text-decoration: underline;
}
.underline:hover {
  text-decoration: none;
}

.w-100 {
  width: 100%;
}

/**************** Button ****************/
.bt-large {
  font-size: 16px;
  font-weight: 600;
  padding: 8px 22px;
  transition: 0.2s;
  text-align: center;
}

.bt-small {
  font-size: 16px;
  font-weight: 400;
  padding: 7px 20px;
  transition: 0.2s;
}

.bt-blue {
  background-color: #0061FF;
  color: white;
}
.bt-blue:hover {
  background-color: #3b85ff;
}

.bt-border {
  border: 1px solid black;
  color: black;
}
.bt-border:hover {
  background-color: #f5f5f5;
}

.bt-white {
  color: black;
  background-color: white;
}
.bt-white:hover {
  background-color: #f5f5f5;
}

/**************** Border ****************/
.border-box {
  border: 1px solid #d0d0d3;
}
.border-bottom {
  border-bottom: 1px solid #d0d0d3;
}
.border-top {
  border-top: 1px solid #d0d0d3;
}

/**************** Color ****************/
.grey {
  color: #6e7d8a;
}
.blue {
  color: #0061FF;
}

.bordeaux {
  color: #61082B;
}

.bc-sky {
  background-color: #B4D0E7;
}

.bc-black {
  background-color: black;
}

/**************** Padding ****************/
.pd-10 {
  padding: 10px 0;
}

.pd-25 {
  padding: 25px 25px;
}

.pd-l-r-20 {
  padding: 0 20px;
}

.pd-top-15 {
  padding-top: 15px;
}

.pd-top-25 {
  padding-top: 25px;
}

.pd-top-40 {
  padding-top: 40px;
}

.pd-top-60 {
  padding-top: 60px;
}

.pd-top-100 {
  padding-top: 100px;
}

.pd-bottom-25 {
  padding-bottom: 25px;
}

.pd-bottom-40 {
  padding-bottom: 40px;
}

.pd-bottom-60 {
  padding-bottom: 60px;
}

.pd-bottom-100 {
  padding-bottom: 100px;
}

.pd-left-20 {
  padding-left: 20px;
}

.pd-left-50 {
  padding-left: 50px;
}

.pd-right-20 {
  padding-right: 20px;
}

/**************** Container ****************/
.container-large {
  max-width: 1367px;
  width: 100%;
  margin: auto;
}

.container-small {
  max-width: 1010px;
  width: 100%;
  margin: auto;
}

/**************** Row + Collumns ****************/
.row::after {         
  content: "";
  display: table;
  clear: both;
}

[class*="col_"] {
  float: left;
}

.float-right {
  float: right;
}

.col_1_9 {
  width: calc(100% / 9);
}

.col_2_9 {
  width: calc(100% / 9 * 2);
}

.col_3_9 {
  width: calc(100% / 9 * 3);
}

.col_4_9 {
  width: calc(100% / 9 * 4);
}

.col_5_9 {
  width: calc(100% / 9 * 5);
}

.col_6_9 {
  width: calc(100% / 9 * 6);
}

.col_1_5 {
  width: calc(100% / 5);
}